@{
    ViewData["Title"] = "Home Page";
}

<style>
    body{
        background-color: #333;
        font: white;
    }
</style>

<div class="text-center">
    <h1 class="display-4">BestBuy Products Database Management System</h1>
    <p>You may navigate to the store page here: <a href="https://www.bestbuy.com">BestBuy Store</a>.</p>
    <h3>BestBuy House Brands:</h3>
    <ol class = brandslist>
        <li class=brandlist><strong>Init</strong></li> 
        <li><strong>Modal</strong></li>
        <li><strong>Dynex</strong></li>
        <li><strong>Platinum</strong></li>
        <li><strong>Insignia</strong></li>
        <li><strong>Pacific Sales</strong></li>
        <li><strong>RocketFish and RocketFish Mobile</strong></li>
        <li><strong>Magnolia Design Center & Magnolia Home Theater</strong></li>
        
        
    </ol>
    <br>
    <br>
    <h4>Best Buy generated global revenue of 47.3 billion U.S. dollars in the company's 2021 fiscal year.</h4>
    <h4>Enterprise Comparable Sales Increased 3.2% allowing the company to reach $1.5 billion in net annual earnings in 2020.</h4>
    <h4>BestBuy was recognized by Barron's as “The Most Sustainable Company in the United States” in 2019.</h4>
</div>
